{% extends 'main.html' %} {% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="room-container">
    <div>
        <h2>{{room.name}}</h2>
        <p>{{room.description}}</p>
        <div class="comments-wrapper">
          <h3>Conversations</h3>
          <hr />
          {% for message in room_messages %}
          <div>
            <small>@{{message.user}} {{message.created | timesince}} ago </small>
            <p>{{message.body}}</p>
            {% if message.user == request.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}
          </div>
          <hr />
          {% endfor %}
        </div>
        
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Type your message here..."></input>
            </form>
        </div>
    </div> 
    <div>
     <h3>Participants</h3>
     {% for participant in participants%}
     <small>@{{participant.username}}</small>
     <hr/>
     {% endfor %}
    </div>
</div>

{% endif %}

{% endblock content %}
